:root {
	--fos-arrow-left: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M15 18l-6-6 6-6'/%3E%3C/svg%3E");
	--fos-arrow-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9 18l6-6-6 6'/%3E%3C/svg%3E");
	--fos-arrow-size: 32px;
	--fos-arrow-color: currentColor;
	--fos-arrow-bg: rgba(255, 255, 255, 0.9);
	--fos-arrow-bg-hover: rgba(255, 255, 255, 1);
	--fos-arrow-offset: 8px;
	--fos-arrow-border-radius: 50%;
	--fos-arrow-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.wp-block-flashblocks-overflow-scroll {
	position: relative;
	display: grid;

	&__content {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		min-width: 0;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__arrow {
		display: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		width: var(--fos-arrow-size);
		height: var(--fos-arrow-size);
		padding: 0;
		border: none;
		border-radius: var(--fos-arrow-border-radius);
		background: var(--fos-arrow-bg);
		box-shadow: var(--fos-arrow-shadow);
		color: var(--fos-arrow-color);
		cursor: pointer;
		appearance: none;

		&:hover {
			background: var(--fos-arrow-bg-hover);
		}

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: var(--fos-arrow-color);
			mask-size: 60%;
			mask-repeat: no-repeat;
			mask-position: center;
			-webkit-mask-size: 60%;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: center;
		}

		&--left {
			left: var(--fos-arrow-offset);

			&::before {
				mask-image: var(--fos-arrow-left);
				-webkit-mask-image: var(--fos-arrow-left);
			}
		}

		&--right {
			right: var(--fos-arrow-offset);

			&::before {
				mask-image: var(--fos-arrow-right);
				-webkit-mask-image: var(--fos-arrow-right);
			}
		}
	}

	&.has-overflow &__arrow {
		display: block;
	}

	&.is-at-start &__arrow--left {
		display: none;
	}

	&.is-at-end &__arrow--right {
		display: none;
	}
}
